.btn {

  display: block;
  margin: 20px auto;
  padding: 15px 30px;

  background-color: rgb(255, 254, 254);
  color: rgb(10, 10, 10);
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: -4px -4px 1px rgb(8, 8, 8) inset;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.03);
}

.btn:active {
  box-shadow: 0px 0px 0px rgb(8, 8, 8);
}